@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GeekbleMalang2WOFF2';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.draw_explain {
    font-family: ONE-Mobile-POP;
    font-size: 9vmin;
    margin-top: 40px;
    margin-left: 3%;
}
.edit_title {
    font-family: ONE-Mobile-POP;
}
.user_input {
    margin-top: 5%;
}
.page_move {
    /* position: absolute;
    bottom: 0; */
    width: 97vmin;
    margin-top: 3vmin;
    margin-bottom: 4vmin;
}
.bottom_info {
    /* position: absolute;
    bottom: 350px; */
    font-family: GeekbleMalang2WOFF2;
    font-size: 5vmin;
    margin-top: 30vmin;
}
.checkbox_form {
    font-size: 3vmin;
    display: flex; /* Flexbox를 사용하여 요소들을 정렬 */
    align-items: center; /* 요소들을 세로 가운데 정렬 */
    margin-top: 50vmin;
    /* position: absolute;
    bottom: 250px; */
}
#present_title, #price, #information, #nickname {
    color: #fe6464;
    font-size: 4vmin;
    margin-bottom: 2%;
}
#nickname {
    color: #fe6464;
    font-size: 4vmin;
    margin-bottom: 2%;
    margin-top: 60%;
}
#picture {
    height: 60vmin;
    border-radius: 10vmin;
    border: 1px solid black;
    width: 93vmin;
}
#back, #next {
    font-family: ONE-Mobile-POP;
    font-size: 5vmin;
    height: 17vmin;
    border: 0;
    border-radius: 5vmin;
    color: white;
}
#back {
    background-color: #f6dcdc;
    width: 30vmin;
    float: left;
    /* margin-left: 3.3%; */
}
#next {
    background-color: #d81111;
    width: 60vmin;
    float: right;
    margin-right: 3%;
}
#information {
    /* position: absolute;
    bottom: 250px; */
    margin-top: 40vmin;
}
#main_title {
    font-size: 9vmin;
    color: #d81111;
    margin-top: 3%;
    margin-bottom: 1%;
}
#sub_title {
    font-size: 5vmin;
    margin-top: 1%;

}
#present_name {
    text-align: center;
    font-size: 5vmin;
    font-family: GeekbleMalang2WOFF2;
    margin-top: -0.5%;
}
#funding_money {
    font-family: GeekbleMalang2WOFF2;
    font-size: 7vmin;
    text-align: center;
    margin-top: 5%;
}
input[type="checkbox"] {
    width: 4vmin;
    height: 4vmin; /* Checkbox의 높이를 조정 */
    margin-right: 1vmin; /* Checkbox와 Label 사이의 간격 조정 */
}
label {
    font-size: 4vmin; /* Label의 폰트 크기를 조정 */
    margin-bottom: 0; /* 기본적인 마진 제거 */
    line-height: 4vmin; /* Label의 높이를 Checkbox와 동일하게 맞춤 */
}
body {
    margin: 0 0 0 3%;
    padding: 0;
    background-color: #fff2df;
}

html, body{
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
    -ms-text-size-adjust : none;  /* IE */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
    -o-text-size-adjust : none;  /* 오페라 구버전 */
}
table {
    width: 94vmin;
    margin-top: 3vmin;
    /* margin-left: 1%; */
    height: 5vmin;
}
td {
    background-color: #d81111;
    width: 43vmin;
    empty-cells: show;
}
input {
    border-radius: 7vmin;
    width: 94vmin;
    height: 13vmin;
    margin-bottom: 2%;
    font-size: 4.5vmin;
}
canvas {
    border-radius: 10vmin;
    width: 94vmin;
    height: 60vmin;
    margin-bottom: 2%;
    border: 1px solid black;
    background-color: white;
}
input::placeholder {
    font-size: 4.5vmin;
    text-align: right;
    padding-right: 30px;
}
progress {
    margin-top: -1%;
    -webkit-appearance: none;
    width: 100%;
    height: 8vmin;
    border-radius: 40px;
}
::-webkit-progress-bar {
    margin-top: -1%;
    background-color: #166f4a;
    width: 97%;
    height: 8vmin;
    border-radius: 40px;
}
::-webkit-progress-value {
    margin-top: -1%;
    background-color: #d81111;
    width: 97%;
    height: 8vmin;
    border-radius: 40px;
}
#progressText {
    text-align: center;
    color: white;
    margin-top: -7vmin;
}